<%=form_for(special_path) do |f| %>
 <% if @milestone.errors.any? %>
  <div class="alert alert-danger" role="alert"><%=@milestone.errors.full_messages%></div>
 <%end%>

  <%= f.label "Name" %>
  <%= f.text_field :name %>

  <%= f.label "Person Responsible" %>
  <%= f.text_field :person_responsible %>

  <%= f.label "Description" %>
  <%= f.text_area :description %>

  <%= f.label "Progress"%>
  <label class= "radio-inline">
    <%= f.radio_button :completed, true, class: "radio-inline" %> Done
  </label>
  <label class= "radio-inline">
    <%= f.radio_button :completed, false, class: "radio-inline"  %> In Progress
  </label>
  <%= f.submit yield(:title), class: "btn btn-primary" %>
<% end %>
