<%=form_for(special_path) do |f| %>
  <%= f.label "Name" %>
  <%= f.text_field :name %>

  <%= f.label "Verantwortlicher" %>
  <%= f.text_field :person_responsible %>

  <%= f.label "Beschreibung" %>
  <%= f.text_area :description %>

  <%= f.label "Fortschritt"%>
  <label class= "radio-inline">
    <%= f.radio_button :completed, true, class: "radio-inline" %> Abgeschlossen
  </label>
  <label class= "radio-inline">
    <%= f.radio_button :completed, false, class: "radio-inline"  %> Nicht abgeschlossen
  </label>
  <%= f.submit yield(:title), class: "btn btn-primary" %>
<% end %>
