<% provide(:title, 'Edit Milestone')%>
<div class='row'>
  <div class="col-md-6">
    <%=form_for([@project, @milestone]) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :person_responsible %>
      <%= f.text_field :person_responsible %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :completed %>
      <%= f.radio_button :completed, true%> Completed
      <%= f.radio_button :completed, false %> Not Completed

      <%= f.submit yield(:title), class: "btn btn-primary" %>
    <% end %>
  <div>
</div>
