<div class='row'>
  <div class= 'col-md-12'>
      <% @project.milestones.each do |p| %>
        <h4><%=p.name%></h4>
        <dl class="dl-horizontal list-group-item <%="list-group-item-success" if p.completed %>">
          <dt>Verantwortlicher:</dt> <dd><%=p.person_responsible%><dd>
          <dt>Beschreibung:</dt><dd><%=p.description%></dd>
          <dt>Fortschritt:</dt><dd><%="0%" if !p.completed%><%="100%" if p.completed%></dd>
          <% if user_signed_in? %>
            <dd><%=link_to 'Bearbeiten', [:edit, @project, p], class:"btn btn-default"%>
              <%=link_to 'Löschen',  [@project,p], method: :delete,
                data: {confirm:"You sure?"} ,class:"btn btn-default"%></dd>
          <% end%>
        </dl>
      <% end%>
      <% if user_signed_in? %>
        <%= link_to "Meilenstein hinzufügen", new_project_milestone_path(@project), class:"btn btn-default"  %>
      <% end %>
  </div>
</div>
