<div class='row'>
  <div class= 'col-md-12'>
      <% @project.milestones.each do |p| %>
        <h4><%=p.name%></h4>
        <dl class="dl-horizontal list-group-item <%="list-group-item-success" if p.completed %>">
          <dt>Person Responsible:</dt> <dd><%=p.person_responsible%><dd>
          <dt>Description:</dt><dd><%=p.description%></dd>
          <dt>Done:</dt>
          <dd>
            <span class= "<%="glyphicon glyphicon-remove" if !p.completed%>"></span>
            <span class= "<%="glyphicon glyphicon-ok" if p.completed%>"></span>
          </dd>
          <% if user_signed_in? %>
            <dd><%=link_to 'Edit', [:edit, @project, p], class:"btn btn-default"%>
              <%=link_to 'Delete',  [@project,p], method: :delete,
                data: {confirm:"You sure?"} ,class:"btn btn-default"%></dd>
          <% end%>
        </dl>
      <% end%>
      <% if user_signed_in? %>
        <%= link_to "Add Milestone", new_project_milestone_path(@project), class:"btn btn-default"  %>
      <% end %>
  </div>
</div>
